In [76]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import glob
from epiweeks import Week
from metrics import *
EPS = 1e-6

In [54]:
# ground truth
df_ground_truth = pd.read_csv('ground_truth.csv')

In [55]:
df_ground_truth.head()
df_grnd = df_ground_truth[['epiweek', 'region', 'cdc_flu_hosp']]
df_grnd = df_grnd[df_grnd['epiweek']>=202201]
df_grnd = df_grnd.rename(columns = {'epiweek':"predicted_week", "cdc_flu_hosp":"value", "region":"location"})
df_grnd['location'] = df_grnd['location'].str.replace('X', 'US')
df_grnd['location'] = df_grnd['location'].str.replace('TUS', 'TX')
df_grnd = df_grnd.sort_values('location', kind = 'mergesort')
df_grnd.head()

     predicted_week location  value
335          202201       AK    3.0
336          202202       AK   15.0
337          202203       AK   12.0
338          202204       AK    1.0
339          202205       AK    1.0

In [56]:
file_dir = './predictions.csv' 
df_total = pd.read_csv(file_dir)

In [57]:
df_total['model'].nunique()
df_final = df_total.copy()
df_final

,model,forecast_week,ahead,location,type,quantile,value
0,GT-FluFNP,202201,1,AK,point,NaN,4.800000
1,GT-FluFNP,202201,1,AK,quantile,0.010,0.000000
2,GT-FluFNP,202201,1,AK,quantile,0.025,0.730200
3,GT-FluFNP,202201,1,AK,quantile,0.050,1.329100
4,GT-FluFNP,202201,1,AK,quantile,0.100,2.137400
...,...,...,...,...,...,...,...
90715,Flusight-ensemble,202209,4,WY,quantile,0.850,7.000000
90716,Flusight-ensemble,202209,4,WY,quantile,0.900,8.373753
90717,Flusight-ensemble,202209,4,WY,quantile,0.950,10.990443
90718,Flusight-ensemble,202209,4,WY,quantile,0.975,16.637130
90719,Flusight-ensemble,202209,4,WY,quantile,0.990,21.429306

In [58]:
all_model_names = np.array(df_total['model'].drop_duplicates())
df_gt = df_final[df_final['model']=='GT-FluFNP']

# GT-FluFNP model hasn't predicted for some locations 
all_regions = np.array(df_gt['location'].drop_duplicates())
regions_ground_truth = np.array(df_grnd['location'].drop_duplicates())

In [59]:
regions_ground_truth

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI',
       'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV',
       'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'US',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [60]:
all_regions

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI',
       'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV',
       'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'US',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [61]:
df_point = df_final[df_final['type']=='point']
df_quant = df_final[df_final['type']=='quantile']

In [62]:
all_model_names

array(['GT-FluFNP', 'Flusight-ensemble'], dtype=object)

In [63]:
weeks = np.array(df_point['forecast_week'].drop_duplicates())
weeks

array([202201, 202202, 202203, 202204, 202205, 202206, 202207, 202208,
       202209])

In [64]:
max_week = df_grnd['predicted_week'].max()
max_week

202210

In [65]:
df_point['predicted_week'] = df_point['forecast_week']+df_point['ahead']

# Have ground truth only till week 10  

df_point = df_point[df_point['predicted_week']<=max_week]

/var/folders/80/kmkjmw951tz6y67zc2c8fyd00000gn/T/ipykernel_75333/2765094017.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_point['predicted_week'] = df_point['forecast_week']+df_point['ahead']

In [66]:
# Merging the two datasets on predicted week
df_newpoint = pd.merge(df_point, df_grnd, on = "predicted_week")
# Removing all unnecessary merges
df_newpoint = df_newpoint[df_newpoint['location_x'] == df_newpoint['location_y']]

In [67]:
rmse_all = []
model_all= []
mape_all = []
week_ahead = []
regions = []

In [68]:
for model in all_model_names:
    for i in range(1, 5):
        for region in all_regions:
            rmse_all.append(rmse(df_newpoint[   (df_newpoint['model']==model)  &   (df_newpoint['ahead']==i)  & (df_newpoint['location_x']==region) ]['value_x'].values, df_newpoint[   (df_newpoint['model']==model)  &   (df_newpoint['ahead']==i)  & (df_newpoint['location_x']==region) ]['value_y'].values))
            mape_all.append(mape(df_newpoint[   (df_newpoint['model']==model)  &   (df_newpoint['ahead']==i)  & (df_newpoint['location_x']==region) ]['value_x'].values, df_newpoint[   (df_newpoint['model']==model)  &   (df_newpoint['ahead']==i)  & (df_newpoint['location_x']==region) ]['value_y'].values))             
            model_all.append(model)
            week_ahead.append(i)
            regions.append(region)

/Users/gauthamgururajan/Desktop/GT/Flusight/Flusight-forecast-data/metrics.py:30: RuntimeWarning: divide by zero encountered in true_divide
  return np.mean(np.abs((predictions - targets) / targets)) * 100
/Users/gauthamgururajan/Desktop/GT/Flusight/Flusight-forecast-data/metrics.py:30: RuntimeWarning: invalid value encountered in true_divide
  return np.mean(np.abs((predictions - targets) / targets)) * 100

In [69]:
df_point_scores = pd.DataFrame.from_dict({'Model':model_all, 'RMSE':rmse_all, 'MAPE':mape_all, 'Weeks ahead':week_ahead, 'Location':regions})

In [70]:
df_point_scores[df_point_scores['Location']=='US']

                 Model        RMSE       MAPE  Weeks ahead Location
43           GT-FluFNP  455.689241  28.785308            1       US
94           GT-FluFNP  562.208073  33.147377            2       US
145          GT-FluFNP  670.300589  32.356603            3       US
196          GT-FluFNP  897.430606  48.611900            4       US
247  Flusight-ensemble  327.258165  19.259371            1       US
298  Flusight-ensemble  637.164072  41.542375            2       US
349  Flusight-ensemble  813.528843  54.247004            3       US
400  Flusight-ensemble  989.063269  57.053599            4       US

In [71]:
df_point_scores.to_csv('point_scores.csv')

In [74]:
df_point_scores.head(25)

        Model       RMSE       MAPE  Weeks ahead Location
0   GT-FluFNP   5.551219        inf            1       AK
1   GT-FluFNP  11.471184  53.081025            1       AL
2   GT-FluFNP  12.880429  24.933385            1       AR
3   GT-FluFNP  32.310529  56.071096            1       AZ
4   GT-FluFNP  17.241928  39.484929            1       CA
5   GT-FluFNP  13.039069  62.812550            1       CO
6   GT-FluFNP   5.323891        inf            1       CT
7   GT-FluFNP   1.613808        inf            1       DC
8   GT-FluFNP   3.743411        inf            1       DE
9   GT-FluFNP  20.592101  22.036004            1       FL
10  GT-FluFNP  12.146280  21.113418            1       GA
11  GT-FluFNP  16.417325  33.522900            1       IA
12  GT-FluFNP   4.680101  48.990741            1       ID
13  GT-FluFNP  12.494797  63.316606            1       IL
14  GT-FluFNP  26.471548  40.414300            1       IN
15  GT-FluFNP  11.987519  57.100022            1       KS
16  GT-FluFNP   9.496354  36.597969            1       KY
17  GT-FluFNP  14.315930  80.914346            1       LA
18  GT-FluFNP  14.276300  42.429200            1       MA
19  GT-FluFNP   5.063325  49.141859            1       MD
20  GT-FluFNP   2.279279        inf            1       ME
21  GT-FluFNP  17.391028  31.728985            1       MI
22  GT-FluFNP  18.899811  50.596758            1       MN
23  GT-FluFNP  15.193401  18.648846            1       MO
24  GT-FluFNP   9.818881  35.435912            1       MS

In [72]:
# target is ground truth
df_quant = df_final[df_final['type']=='quantile']

In [73]:
df_quant.head()

       model  forecast_week  ahead location      type  quantile   value
1  GT-FluFNP         202201      1       AK  quantile     0.010  0.0000
2  GT-FluFNP         202201      1       AK  quantile     0.025  0.7302
3  GT-FluFNP         202201      1       AK  quantile     0.050  1.3291
4  GT-FluFNP         202201      1       AK  quantile     0.100  2.1374
5  GT-FluFNP         202201      1       AK  quantile     0.150  2.6211

In [22]:
# norm_val = (df_quant['value']-df_quant['value'].min())/(df_quant['value'].max()-df_quant['value'].min())

norm_df_quant = df_quant.copy()
norm_df_quant['predicted_week']= norm_df_quant['forecast_week']+norm_df_quant['ahead']
norm_df_quant = norm_df_quant[norm_df_quant['predicted_week']<=max_week]

In [24]:
norm_df_quant

,model,forecast_week,ahead,location,type,quantile,value,predicted_week
1,GT-FluFNP,202201,1,AK,quantile,0.010,0.000000,202202
2,GT-FluFNP,202201,1,AK,quantile,0.025,0.730200,202202
3,GT-FluFNP,202201,1,AK,quantile,0.050,1.329100,202202
4,GT-FluFNP,202201,1,AK,quantile,0.100,2.137400,202202
5,GT-FluFNP,202201,1,AK,quantile,0.150,2.621100,202202
...,...,...,...,...,...,...,...,...
90643,Flusight-ensemble,202209,1,WY,quantile,0.850,7.000000,202210
90644,Flusight-ensemble,202209,1,WY,quantile,0.900,9.000000,202210
90645,Flusight-ensemble,202209,1,WY,quantile,0.950,11.976203,202210
90646,Flusight-ensemble,202209,1,WY,quantile,0.975,15.000000,202210
90647,Flusight-ensemble,202209,1,WY,quantile,0.990,16.200000,202210

In [25]:
week_ahead = []
regions = []
crps_all = []
ls_all = []
model_all = []

In [26]:
# df_newpoint[df_newpoint['location_y']=='TX']

In [33]:
# All models
for model in all_model_names:
    
#     All Weeks ahead
    for i in range(1, 5):
        
#         All regions
        for region in all_regions:
            
#             Dataset with information about Ground truth ('value_y') and predictions ('value_x') 
            target = df_newpoint[ (df_newpoint['model']==model) & (df_newpoint['ahead']==i) & (df_newpoint['location_x']==region)]
            
            norm_model = norm_df_quant[   (norm_df_quant['model']==model)  &   (norm_df_quant['ahead']==i)  & (norm_df_quant['location']==region) ]
            mean_ = []
            std_ = []
            tg_vals = []

            for week in weeks[:len(weeks)-i]:
#                 Append point predictions
                point_val = target[ (target['forecast_week']==week)]['value_x'].values
                mean_.append(point_val)
                if(len(point_val)==0):
                    print(i, week, region, model)
#                 print(point_val)
            
#                 Append ground truth as target
                tgval = target[ (target['forecast_week']==week)]['value_y'].values
                tg_vals.append(tgval)
#                 print(tgval)
#                 Find std from quantiles
                b = norm_model[  (norm_model['forecast_week']==week) &  (norm_model['quantile']==0.75)]['value'].values
                a = norm_model[  (norm_model['forecast_week']==week) &  (norm_model['quantile']==0.25)]['value'].values
                std = (b-a)/1.35
#                 print(std)
                std_.append(std)
            
            std_ = np.array(std_)
            mean_ = np.array(mean_)
            tg_log_vals = [EPS if x==0 else x for x in tgvals]
            tg_vals = np.array(tg_vals)
            tg_log_vals = np.array(tg_log_vals)
            
            if(len(tg_vals)==0):
                print(i, region, model)
#             Calculate ls and crps
            cr = crps(mean_, std_, tg_vals)
            
            ls = log_score(mean_, std_, tg_log_vals, window = 0.1)
            
            crps_all.append(cr)
            ls_all.append(ls)
            model_all.append(model)
            week_ahead.append(i)
            regions.append(region)

In [34]:
df_spread_scores = pd.DataFrame.from_dict({'Model':model_all, 'Weeks ahead':week_ahead, 'Location':regions, 'LS':ls_all, 'CRPS':crps_all,})

In [35]:
df_spread_scores[df_spread_scores['Location']=='TX']

                 Model  Weeks ahead Location         LS        CRPS
42           GT-FluFNP            1       TX -13.142779   39.703406
93           GT-FluFNP            2       TX -12.305931   69.551704
144          GT-FluFNP            3       TX -11.232908  102.125718
195          GT-FluFNP            4       TX -10.222266  122.988362
246  Flusight-ensemble            1       TX -12.386276   38.107086
297  Flusight-ensemble            2       TX -11.002843   72.198956
348  Flusight-ensemble            3       TX  -9.465062  114.922193
399  Flusight-ensemble            4       TX  -8.969738  152.424519
450          GT-FluFNP            1       TX -13.142779   39.703406
501          GT-FluFNP            2       TX -12.305931   69.551704
552          GT-FluFNP            3       TX -11.232908  102.125718
603          GT-FluFNP            4       TX -10.222266  122.988362
654  Flusight-ensemble            1       TX -12.386276   38.107086
705  Flusight-ensemble            2       TX -11.002843   72.198956
756  Flusight-ensemble            3       TX  -9.465062  114.922193
807  Flusight-ensemble            4       TX  -8.969738  152.424519

In [36]:
df_spread_scores.to_csv('spread_scores.csv')